html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/** if you have separate file for variables and mixins, or fonts - import it here **/
html {
  font-size: 10px; }

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #373c3f;
  padding: 0 0 0 1.85rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .navbar-links {
    display: none; }
  .navbar-links-active-mobile {
    display: block;
    position: absolute;
    right: 0;
    background-color: #fafafa;
    color: #444444;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem; }
    .navbar-links-active-mobile .navbar-links-item {
      padding: 1.2rem 9.6rem 1.2rem 1.2rem;
      border-bottom: 0.1rem solid #e9e9e9;
      font-family: 'Lato', sans-serif; }
    .navbar-links-active-mobile .navbar-links-photo {
      display: none; }
  .navbar__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.39rem;
    color: white; }
  .navbar__burger {
    padding: 1.2rem 1.2rem 1.2rem 1.3rem;
    background-color: #202529; }
    .navbar__burger-line-1, .navbar__burger-line-2, .navbar__burger-line-3 {
      width: 1.5rem;
      height: 0.2rem;
      margin-bottom: 0.2rem;
      background-color: white;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      -moz-transition: 0.4s;
      transition: 0.4s; }
  .navbar .change .navbar__burger-line-2 {
    opacity: 0; }
  .navbar .change .navbar__burger-line-1 {
    -webkit-transform: rotate(-45deg) translate(-3px, 1px);
    -moz-transform: rotate(-45deg) translate(-3px, 1px);
    -ms-transform: rotate(-45deg) translate(-3px, 1px);
    -o-transform: rotate(-45deg) translate(-3px, 1px);
    transform: rotate(-45deg) translate(-3px, 1px); }
  .navbar .change .navbar__burger-line-3 {
    -webkit-transform: rotate(45deg) translate(-4px, -3px);
    -moz-transform: rotate(45deg) translate(-4px, -3px);
    -ms-transform: rotate(45deg) translate(-4px, -3px);
    -o-transform: rotate(45deg) translate(-4px, -3px);
    transform: rotate(45deg) translate(-4px, -3px); }

.header-photo {
  background: url("../img/headerPhoto.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-y: center;
  padding-top: 1.9rem;
  padding-left: 2rem;
  padding-bottom: 9.4rem;
  font-weight: bold;
  margin-bottom: 0.4rem; }
  .header-photo-text {
    font-family: 'Lato', sans-serif;
    font-size: 1.585rem;
    color: white;
    font-weight: 500; }
  .header-photo-text:first-of-type {
    margin-bottom: 0.7rem; }
  .header-photo-link {
    margin-top: 11px;
    display: inline-block;
    color: #97c0c8;
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    text-decoration: none; }

.cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .cards .card-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
    .cards .card-container .card-item-pizza {
      -webkit-flex-basis: 78.882%;
      -ms-flex-preferred-size: 78.882%;
      flex-basis: 78.882%;
      background-image: url("../img/Pizza delivery fon copy 3@1X.png");
      background-position: bottom right;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
      .cards .card-container .card-item-pizza-text {
        color: #ffffff;
        font-size: 2rem;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        padding: 2.7rem 0 2.8rem 0;
        text-align: center; }
    .cards .card-container .card-item-UA {
      -webkit-flex-basis: 78.882%;
      -ms-flex-preferred-size: 78.882%;
      flex-basis: 78.882%;
      background-image: url("../img/UA_UX Salads fon copy 3@1X.png");
      background-position: 0 8.3rem;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
      .cards .card-container .card-item-UA-text {
        color: #ffffff;
        font-size: 2rem;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        padding: 3rem 0 2.8rem 0;
        text-align: center; }
    .cards .card-container .card-item-dessert {
      -webkit-flex-basis: 78.882%;
      -ms-flex-preferred-size: 78.882%;
      flex-basis: 78.882%;
      background-image: url("../img/Desserts fon copy 3@1X.png");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
      .cards .card-container .card-item-dessert-text {
        color: #ffffff;
        font-size: 2rem;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        padding: 3rem 0 3rem 0;
        text-align: center; }
    .cards .card-container .card-arrow {
      background-image: url("../img/Layer 13 copy 5@1X.png");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      -webkit-flex-basis: 22.118%;
      -ms-flex-preferred-size: 22.118%;
      flex-basis: 22.118%; }

.content-header {
  padding: 0 0.8rem 0 0.9rem;
  margin-top: 2.6rem;
  margin-bottom: 1rem; }
  .content-header-slogan .content-header-slogan-text {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    color: #3f4043;
    text-transform: uppercase;
    margin-bottom: 0.4rem; }
  .content-header-slogan .content-header-slogan-secondary-text {
    color: #d9dadb; }
  .content-header-logo {
    display: none; }

.content .content-itself {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .content .content-itself .content-food-header {
    padding: 1.2rem 0 1.1rem 1.9rem;
    background-color: #3f4043;
    font-family: 'Lato', sans-serif;
    font-size: 1.9rem;
    color: #acd8ad;
    text-transform: uppercase;
    margin-bottom: 1.1rem; }
  .content .content-itself .content-food-header-secondary-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1.6rem;
    margin-top: 1.3rem; }
    .content .content-itself .content-food-header-secondary-container .content-food-header-secondary-text {
      font-family: 'Lato', sans-serif;
      font-size: 1.5rem;
      color: #3f4043;
      margin-left: 1.9rem;
      text-transform: uppercase; }
    .content .content-itself .content-food-header-secondary-container .content-food-header-secondary-icon {
      color: #acd8ad;
      font-size: 2.5rem;
      margin-right: 1.8rem; }
  .content .content-itself .content-food .menu {
    padding: 0 1.8rem 0 1.8rem; }
    .content .content-itself .content-food .menu-item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 0.9rem; }
      .content .content-itself .content-food .menu-item-name {
        font-family: 'Lato', sans-serif;
        font-size: 1.35rem;
        color: #3f4043; }
      .content .content-itself .content-food .menu-item-price {
        font-family: 'Lato', sans-serif;
        font-size: 1.35rem;
        color: #3f4043;
        font-weight: bold; }
    .content .content-itself .content-food .menu-item-description {
      font-family: 'Lato', sans-serif;
      font-size: 0.75rem;
      color: #59595c;
      margin-bottom: 1rem; }
  .content .content-itself .bcg-green-white-text {
    background-color: #acd8ad;
    color: white; }

.footer {
  background-color: #acd8ad; }
  .footer-logo {
    display: none; }
  .footer-text-container {
    padding: 1.3rem 11.875%  1.1rem 12.81%; }
  .footer-text {
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center; }

@media screen and (min-width: 410px) and (max-width: 639px) {
  html {
    font-size: 15px; } }

@media screen and (min-width: 640px) and (max-width: 979px) {
  html {
    font-size: 20px; }
  .navbar .change .navbar__burger-line-1 {
    -webkit-transform: rotate(-45deg) translate(-7px, -1px);
    -moz-transform: rotate(-45deg) translate(-7px, -1px);
    -ms-transform: rotate(-45deg) translate(-7px, -1px);
    -o-transform: rotate(-45deg) translate(-7px, -1px);
    transform: rotate(-45deg) translate(-7px, -1px); }
  .navbar .change .navbar__burger-line-3 {
    -webkit-transform: rotate(45deg) translate(-9px, -5px);
    -moz-transform: rotate(45deg) translate(-9px, -5px);
    -ms-transform: rotate(45deg) translate(-9px, -5px);
    -o-transform: rotate(45deg) translate(-9px, -5px);
    transform: rotate(45deg) translate(-9px, -5px); } }

@media screen and (min-width: 980px) {
  .navbar {
    padding: 0.8rem 3rem 0.6rem 3rem; }
    .navbar-links {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -moz-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      color: white;
      font-size: 1.5rem;
      font-family: 'Lato', sans-serif; }
      .navbar-links-item {
        margin-right: 3rem; }
      .navbar-links-photo {
        margin-left: auto; }
    .navbar__title, .navbar__burger {
      display: none; }
  .header-photo {
    padding: 6.4rem 0 26rem 3rem;
    background-image: url("../img/headerPhoto980.png"); }
    .header-photo-text {
      font-size: 5.4rem;
      margin-bottom: 5.7rem; }
    .header-photo-link {
      font-size: 3.4rem; }
  .cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .cards .card-container {
      display: block;
      width: -webkit-calc(100%/3);
      width: -moz-calc(100%/3);
      width: calc(100%/3); }
      .cards .card-container .card-item-pizza {
        background-image: url("../img/Pizza delivery fon copy@2X.png"); }
        .cards .card-container .card-item-pizza-text {
          font-size: 3.8rem;
          padding: 44% 0; }
      .cards .card-container .card-item-UA {
        background-image: url("../img/UA_UX Salads fon copy@2X.png");
        background-position: 0 0; }
        .cards .card-container .card-item-UA-text {
          font-size: 3.8rem;
          padding: 44% 0; }
      .cards .card-container .card-item-dessert {
        -webkit-flex-basis: 78.882%;
        -ms-flex-preferred-size: 78.882%;
        flex-basis: 78.882%;
        background-image: url("../img/Desserts fon copy@2X.png"); }
        .cards .card-container .card-item-dessert-text {
          font-size: 3.8rem;
          padding: 44% 0; }
      .cards .card-container .card-arrow {
        display: none; }
  .content .content-header {
    padding-left: 3rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1.1rem; }
    .content .content-header-slogan-text {
      font-size: 3rem; }
    .content .content-header-slogan-secondary-text {
      font-size: 1.7rem; }
    .content .content-header-logo {
      display: block;
      margin-right: 3rem; }
  .content .content-itself {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .content .content-itself .content-food {
      width: -webkit-calc(100%/2);
      width: -moz-calc(100%/2);
      width: calc(100%/2); }
      .content .content-itself .content-food-header {
        font-size: 2.5rem;
        letter-spacing: 0.5px; }
      .content .content-itself .content-food-header-secondary-container {
        margin-top: 3rem;
        margin-bottom: 3.5rem; }
        .content .content-itself .content-food-header-secondary-container .content-food-header-secondary-text {
          font-size: 2.3rem; }
        .content .content-itself .content-food-header-secondary-container .content-food-header-secondary-icon {
          font-size: 4.2rem; }
      .content .content-itself .content-food .menu-item {
        margin-bottom: 1.8rem; }
        .content .content-itself .content-food .menu-item-name {
          font-size: 2.1rem; }
        .content .content-itself .content-food .menu-item-price {
          font-size: 2.1rem;
          font-weight: bold; }
      .content .content-itself .content-food .menu-item-description {
        font-size: 1.5rem;
        margin-bottom: 2.4rem; }
  .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 8.4rem; }
    .footer-logo {
      display: block;
      margin: 0.7rem 0 0.7rem 3rem; }
    .footer-text-container {
      padding: 0;
      margin-right: 3rem; }
      .footer-text-container .footer-text {
        display: inline-block;
        font-size: 1.8rem; } }

@media screen and (min-width: 1200px) {
  html {
    font-size: 14px; } }
